@media (min-width: 765px) {
  .progressBar {
    grid-area: progressBar;
    display: flex;
    justify-content: space-between;
  }

  .progresBartext {
    width: 30%;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #4f4f4f;
  }
  .title {
    margin-left: 9%;
    padding-top: 0.7rem;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    color: #4f4f4f;
  }
  .progressBarItem {
    display: flex;
    margin: 1rem;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  .progressBarSection {
    background: #ffffff;
    border-radius: 12px;
    width: 48%;
    height: 100%;
    box-shadow: -20px 20px 60px #d9d9d9, 20px -20px 60px #ffffff;
  }
  .progressBarSectionf {
    background: #ffffff;
    border-radius: 12px;
    width: 48%;
    height: 50%;
    box-shadow: -20px 20px 60px #d9d9d9, 20px -20px 60px #ffffff;
  }
}
@media (max-width: 765px) {
  .progressBar {
    grid-area: progressBar;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }

  .progresBartext {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #4f4f4f;
  }
  .title {
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    color: #4f4f4f;
  }
  .progressBarItem {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
  }

  .progressBarSection {
    background: #ffffff;
    margin-top: 6rem;
    border-radius: 12px;
    width: 100%;
    height: 50%;
    box-shadow: -20px 20px 60px #d9d9d9, 20px -20px 60px #ffffff;
  }
  .progressBarSectionf {
    background: #ffffff;
    border-radius: 12px;
    width: 100%;
    margin-top: 2rem;
    height: 30%;
    box-shadow: -20px 20px 60px #d9d9d9, 20px -20px 60px #ffffff;
  }
}
